*{
	margin: 0px;
	padding: 0px;
}
.cleaner{
	clear: both;
}
@keyframes slajderTekstFade{
	0% { bottom:0%; opacity:0.0;}
	100%{bottom: 10%; opacity:1.0;}
}
body{
	position: relative;
	background-color: white;
	font-family: 'Mukta', sans-serif;
}
header {
	width: 99.35%;
	height: 125px;
	position: relative;
	background-color: white;
	box-shadow: 0 2px 1px #8d2b22;
	padding-right: 10px;
}
a{
	text-decoration: none;
	font-size: 22.5px;
}
a:visited{
	color: black;
}
a:hover{
	text-decoration: underline;
}
ul{
	list-style: none;
}
header img{
	margin-top: 10px;
	margin-left: 15px;
	
}
#login {
	width: 20%;
	height: 21%;
	display: flex;
	justify-content: flex-end;
	padding: 3px;
	margin-right: 2px;
	margin-bottom: 1px;
	margin-left: 80%;
}
#login a{
	color: #8d2b22;
}
#navshop {
	position: abslolute;
	float: right;
	width: 80%;
	height: 125px;
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
}
#navigacija {
	float: right;
	padding-top: 5px;
	width: 100%;
	height: 30px;
	margin-right: 2px;
	margin-bottom: 2px;
	font-size: 15px;
}
#navigacija ul {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
#navigacija ul li a{
	color: #8d2b22;
}
#navigacija ul li a:visited{
	color: #8d2b22;
}
.nas {
	background-color: #8d2b22;
	color: white;
	padding: 5px;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	font-size: 18px;
	border-radius: 2px;
}
aside{
	width: 25%;
	height: auto;
	position: absolute;
}
.phone {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	border-bottom: 1px solid #8d2b22;
	padding-bottom: 15px;
	padding-top: 15px;
	font-size: 18px;
}
.spec{
	margin-top: 15px;
}
#telefoni {
	position: relative;
	width: 100%;
	margin-top: 7px;
}
#telefoni ul{
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 15px;
}
#telefoni ul li a{
	color: #303030;
}
#telefoni ul li a:visited{
	color: #303030;
}
.main{
	height: auto;
	width: 74%;
	position: relative;
	float: right;
}
.phone1 {
	width: 47%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	float: left;
	border-top: 1px solid #8d2b22;
	margin-top: 20px;
	padding-bottom: 30px;
	padding-top: 10px;
	font-size: 20px;
}

.phone2 {
	width: 47%;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	float: right;
	border-top: 1px solid #8d2b22;
	margin-top: 20px;
	font-size: 20px;
}
footer{
	height: 20px;
	padding-top: 7px;
	background-color: #8d2b22;
	width: 100%;
	margin-top: 2px;
	position: absolute;
	font-size: 12px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.fa-sitemap{
	color: white;
}
footer p{
	margin-left: 7px;
	color: white;
}
#slajder {
	position: relative;
	height: 450px;
	width: 100%;
	background-image: url(../slike/slajder1.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 5px;
	padding-top: 250px;
	box-sizing: border-box;
}
#slajderTekst{
	width:99.23%;
	padding: 20px 0px 20px 10px;
	border-radius: 5px;
	background-color: rgba(250,250,250,0.5);
	overflow: hidden;
    animation: slajderTekstFade;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
    animation-fill-mode: both;
	position: absolute;
}
#slajder h1 {
	font-size: 40px;
	color: #032D57;
}

#slajder p {
	font-size: 20px;
}
#kup {
	width: 99.2%;
	height: 552px;
	border: 3px solid #8d2b22;
	border-radius: 5px;
	background-color: white;
	margin-top: 5px;
}
#levo {
	width: 35%;
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 20px;
	float: left;
}
#levo p{
	margin-bottom: 10px;
}
#desno {
	width: 60%;
	height: 80%;
	float: right;
	padding-top: 8%;
	padding-right: 1%;
}
#google-map {
	width: 100%;
	height: 90%;
}
#kup1 {
	width: 99.2%;
	height: 550px;
	padding-top: 25.85px;
	background-color: white;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	background-size: cover;
	background-repeat: no-repeat;
}
#RadnoVreme {
	width: 40%;
	height: 95%;
	background-color: #8d2b22;
	padding: 5px 5px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 5px;
	float: left;
}
#RadnoVreme a{
	color: white;
}
#RadnoVreme a:visited{
	color: white;
}
#RadnoVreme table {
	padding-bottom: 5px;
	margin-top: 15px;
	color: #FFF;
}
#kup2 {
	width: 100%;
	height: 550px;
	border: 3px solid #8d2b22;
	border-radius: 5px;
	background-color: #8d2b22;
	margin-top: 5px;
	display: flex;
	justify-content: center;
	float: right;
	border-radius: 5px;
	font-size: 20px;
}
#kup2 img{
	border-radius: 5px;
}
#kup2 p{
	margin-bottom: 10px;
	color: white;
}
.aut {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#kup3 {
	width: 99.2%;
	height: 517px;
	background-color: #FFF;
	margin-top: 5px;
}
.phone3 {
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: white;
	font-size: 22px;
}
#forma {
	float: right;
	width: 50%;
	display: flex;
	text-align: center;
	flex-direction: column;
	border-top: 1px solid #8d2b22;
	border-radius: 5px;
	padding-top: 20px;
}
#forma p{
	font-size: 25px;
	color: #303030;
}
input[type=text]{
  width: 35%;
  padding: 12px 20px;
  margin: 15px 10px 8px 10px;
  display: inline-block;
  border: 1px solid #8d2b22;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 31.5%;
  background-color: #8d2b22;
  color: white;
  padding: 14px 20px;
  margin: 30px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #8d2b22;
  border-radius: 4px;
  box-sizing: border-box;
}
#fm {
	margin-top: 45px;
}
#ime {
	margin-right: 47px;
}
#poruka {
	width: 100%;
	border-color: #8d2b22;
	border-radius: 4px;
	margin-top: 10px;
}
#tabela {
	display: flex;
	flex-direction: column;
}
.dm {
	display: flex;
	justify-content: space-around;
}
.forma1 {
	float: left;
	width: 48%;
	display: flex;
	text-align: center;
	flex-direction: column;
	border-top: 1px solid #8d2b22;
	border-radius: 5px;
	padding-top: 20px;
}
.forma1 p{
	font-size: 25px;
	margin-bottom: 25px;
}
.forma2 {
	float: right;
	width: 48%;
	display: flex;
	text-align: center;
	flex-direction: column;
	border-top: 1px solid #8d2b22;
	border-radius: 5px;
	padding-top: 20px;
}
.forma2 p{
	font-size: 25px;
	margin-bottom: 20px;
}
input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 15px 0;
  display: inline-block;
  border: 1px solid #8d2b22;
  border-radius: 4px;
  box-sizing: border-box;
}
#ime2{
	width: 60%;
	margin-left: 20%;
}
#prz{
	width: 60%;
	margin-left: 20%;
}
#submit1 {
	margin-left:34%;
}
#submit2 {
	margin-left:34%;
}